{% extends "base.html" %}

{% block content %}
          <h1>About Me</h1>
          
          <p>Jesi Steiber identifies herself first as a daughter of the King. She is wife to Paul, her best friend and sweetheart of 15 years. She is a mother of four adult children and grandmother to four. She and her husband live in Fort Worth, TX where she is active in her church ministering freedom in Christ. Jesi often writes about her experiences as she and her husband are blessed to help raise two of their grandchildren. She is in her greatest adventure as she walks out her calling to write mid-life and looks forward to where God takes her next. She has a passion for Christ and loves to share that passion with others by leading small groups, ministering freedom and sharing her life on her <a href="http://www.jesisteiber.com">personal blog</a>. Jesi is the newest addition to the featured authors on the women's online magazine <a href="http://www.mypurposenow.co">My Purpose Now</a>.</p>

{% endblock content %}
